{% load staticfiles %}
<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=devices-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.5/css/bootstrap.css' %}">
<title>index</title>
	<link rel="stylesheet"  href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome-4.4.0/css/font-awesome.min.css' %}">
</head>
<body class="default-font">
<div class="container-fluid background1 font-color-top">
	<h1></h1>
	<div class="row font-hacs">
    	<div class="col-md-7"></div>
        <div class="col-md-1"><b><br><a href="">HOME</b></div>
        <div class="col-md-1"><b><br><a href="">ABOUT</b></div>
        <div class="col-md-1"><b><br><a href="">CONTACT US</b></div>
        <div class="col-md-1"><b><br><a href="/login/">SIGN IN</a></b></div>
        <div class="col-md-1"><img class="icon1-size" src="static/img/logo3.png"></div>
    </div>
    <div class="margin-Top title-size">
    	<center><b class="title-size1">Online</b>Activity<b>Tracker</b></center>
    </div>
    <div class="row">
    	<div class="col-md-4 margins">
        	<font class="font-lobster">ONLINE</font><b class="font-size-ocra"><br>ACTIVITY<br>TRACKER APPLICATION</b>
        </div>
        <div class="col-md-4"><img class="icon2-size" src="static/img/logo2.png"></div>
    </div>
    <div style="margin-top:120px"></div>
</div>

<div class="container-fluid background3">
<div class="margin-center-top paddig-center">
	<div class="font-title-center"><center>
	  Activity Tracking: <strong>Online</strong>Activity<strong>Tracker</strong>
	</center></div>
    <p class="margin-center">Have you ever wanted a simple and convenient way to give activities to your students online? Well, now there's a way. Online Activity Tracker is a web app for teachers and students, which teachers can post an activity online, and students can view activities posted by the teacher.</p>
    <div class="row margin-mission" style="margin-top:177px;">
    	<div class="col-md-6">
    	  <p><strong>MISSION</strong><br>
    	    To provide quality software and automated <br>
    	    online assigner for teachers to eliminate<br>
    	    some risks<br>
    	    on hand.</p>
    	</div>
        <div class="col-md-6"><p><b>VISION</b><br>A custom package software for teachers and students <br> with automated activity tracker <br> packaged with a friendly user interface and high <br> user experience.</p></div>
    </div>
    <div class="margin-center-top"><center><b>SPEND MORE TIME TEACHING</b></center></div>
    <p><center> We built Online Activity Tracker to work perfectly for students and teachers even to <br> those who are not up-to-date with out current technology.</center></p>
    <div style="margin-top:120px"></div>
    </div>
</div>



<div class="container-fluid margin-center-top">
	<div class="font-title-center"><center><strong>Online</strong>Activity<strong>Tracker</strong> Developers </center></div>
    <div style="margin-top:600px"></div>
</div>

</body>
</html>
